@using System.Security.Claims
@model BoekWinkel.ViewModels.WinkelwagenViewModel
 
@section Styles
{
    <link rel="stylesheet" href="~/css/winkelwagen/Index.css" />
}

<h2>Your shoppingbag</h2>
<div class="winkelWagenItemsContainer">
    @foreach (var item in Model.WinkelwagenItems)
    {       
        <div class="winkelWagenItems">
             <div class="winkelwagen-item-kaart">
                <div class="winkelwagen-item-kaart-left">
                    <img src="data:image/jpeg;base64,@item.Boek.BoekImage" alt="Boek afbeelding" class="boekIMG"/>
                </div>
                <div class="winkelwagen-item-kaart-right">
                    <table class="product-details-table">
                        <tr class="firstRow">
                            <th id="titleBoekTH"><strong>Title</strong></th>
                            <th id="authorBoekTH"><strong>Author</strong></th>
                            <th id="priceBoekTH"><strong>Price</strong></th>
                            <th id="quantityTH"><strong>Qauntity</strong></th>
                        </tr>
                        <tr>
                            <td id="titleBoekTD">@item.Boek.BoekTitle</td>
                            <td id="authorBoekTD">@item.Boek.BoekAuthor</td>
                            <td id="priceBoekTD">€@item.Boek.BoekPrice.ToString("0.00")</td>
                            <td id="quantityTD">
                                <div id="formContainer">
                                    <form method="post" asp-controller="Winkelwagen" asp-action="Edit" asp-route-id="@item.WinkelwagenId" asp-route-UserId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                                        <input type="hidden" name="WinkelwagenId" value="@item.WinkelwagenId" />
                                        <input type="hidden" name="BoekId" value="@item.BoekId" />
                                        <input type="hidden" name="gebruikersId" value="@item.gebruikersId" />
                                        <input type="hidden" name="InWinkelwagen" value="true" />
                                        <input type="hidden" name="Betaald" value="false" />

                                        <input type="number" name="AantalItems" value="@item.AantalItems" class="tableInput" min="1" />
                                        <button type="submit" class="submit-button">
                                            <ion-icon name="create" style="font-size: 22px;"></ion-icon>
                                        </button>                                 
                                    </form>
                                </div>
                                                  
                            </td>                        
                            <td>
                                <form method="post" asp-action="Delete" asp-route-id="@item.WinkelwagenId" asp-route-UserId="@item.gebruikersId">
                                    <button type="submit" class="submit-button">
                                        <ion-icon name="close-circle-outline" style="font-size: 22px;"></ion-icon>
                                    </button>
                                </form>                               
                            </td>
                        </tr>                   
                    </table>
                </div>               
            </div>
        </div>     
    }
    <div>
        <h4>Total: €@Model.TotalePrijs.ToString("0.00")</h4>
        <a class="btn btn-primary" asp-action="Order" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Afrekenen</a>
    </div>
</div>
