@using System.Security.Claims
@model IEnumerable<BoekWinkel.Models.Winkelwagen>


@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order</h1>
<table>
    <thead>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Country</th>
        <th>Regio</th>
        <th>City</th>
        <th>Postcode</th>
        <th>Steetname</th>
    </thead>
    <tbody>
        @{
            bool userDisplayed = false;
        }
        @if(Model != null)
        {
            @foreach (var i in Model)
            {
                if (!userDisplayed)
                {
                    <tr>
                        <td>@(i.UserMoney?.Voornaam ?? "Onbekend")</td>
                        <td>@(i.UserMoney?.Achternaam ?? "Onbekend")</td>
                        <td>@(i.UserMoney?.Land ?? "Onbekend")</td>
                        <td>@(i.UserMoney?.Regio_Provincie ?? "Onbekend")</td>
                        <td>@(i.UserMoney?.Stad ?? "Onbekend")</td>
                        <td>@(i.UserMoney?.Postcode ?? "Onbekend")</td>
                        <td>@(i.UserMoney?.Straatnaam ?? "Onbekend")</td>
                        <td><a asp-controller="Manageaccount" asp-action="edit" asp-route-userId="@i.gebruikersId" asp-route-id="@i.UserMoney.UserMoneyId">Edit</a></td>
                    </tr>
                    userDisplayed = true;  // Zorg ervoor dat we de gebruiker maar één keer weergeven

                }
            }
        }
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Boek Naam</th>
            <th>Aantal</th>
            <th>Prijs</th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal totalPrice = 0;
        }
        @foreach (var item in Model)
        {
            decimal itemTotalPrice = item.AantalItems * item.Boek.BoekPrice;  
            totalPrice += itemTotalPrice;  
            <tr>
                <td>@item.Boek.BoekTitle</td>
                <td>@item.AantalItems</td>
                <td>€@item.Boek.BoekPrice</td>
            </tr>
        }
    </tbody>
</table>

<h3>Totaalprijs: €@totalPrice</h3> 
<form method="post" asp-action="Order" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
    <input type="submit" value="Pay"/>
</form>