@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BoekWinkel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/BoekWinkel.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/HomeStyling/HomePage.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)

    @RenderSection("winkelWagenCSS", required: false)
    @RenderSection("WinkelWagenItemsIndexStyles", required: false)
</head>
<body>
    <header>
        <nav class="navBar">
            <div class="navBarTop">
                <div class="navBarTopDivs" id="navBarTopLeft">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BoekWinkel</a>
                </div>
                <div class="navBarTopDivs" id="navBarTopMid">
                    <div class="searchBarContainer">
                        <input type="search" class="searchBar" /> 
                        <button class="searchButton">
                            <ion-icon name="search-outline" class="Icon"></ion-icon>
                        </button>
                    </div>
                </div>
                <div class="navBarTopDivs" id="navBarTopRight">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Winkelwagen" asp-action="Index" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                        <ion-icon name="bag-check-outline" class="Icon"></ion-icon>
                    </a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">
                        <ion-icon name="heart-outline" class="Icon"></ion-icon>
                    </a>
                    <partial name="_LoginPartial" />
                </div>
            </div>

            <div class="navBarBottom">                   
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><h5>Home</h5></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><h5>Privacy</h5></a>
                @if(User.IsInRole("Admin"))
                {
                    <a class="nav-link text-dark" asp-area="" asp-controller="Voorraad" asp-action="Index"><h5>Voorraad</h5></a>                    
                }
            </div>
        </nav>
    </header>

    <div class="Body">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BoekWinkel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
