@model BoekWinkel.Models.ViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/HomeStyling/Details.css" />
}

<div class="productDetailsDiv">
    <div class="productDetailsDivTop">
        <h1>@Model.BoekModel.BoekTitle</h1>
    </div>

    <div class="productDetailsDiMid">
        <div class="productDetailsDivMidLeft">
            <img src="data:image/jpeg;base64,@Model.BoekModel.BoekImage" alt="Boek afbeelding" class="bookImage" />
        </div>
        <div class="productDetailsDivMidRight">
            <p><strong><h3 class="priceProduct">@Model.BoekModel.BoekPrice </h3></strong></p>

            <h2><strong>Details</strong></h2>
            <p><strong>Author:</strong> @Model.BoekModel.BoekAuthor</p>
            <p><strong>Category:</strong> @Model.BoekModel.BoekCategory</p>
             <p>
                @{
                    if (Model.voorRaadBoeken.voorRaad > 10)
                    {
                        <div class="voorRaadDivDetailsView" style="border: solid 2px darkgreen; color:darkgreen">
                            <strong>On Stock</strong>
                        </div>
                    }
                    else if(Model.voorRaadBoeken.voorRaad <= 10 && Model.voorRaadBoeken.voorRaad > 0)
                    {
                        <div class="voorRaadDivDetailsView" style="border: solid 2px orange; color:orange">
                            <strong>Low On Stock</strong>
                            @Model.voorRaadBoeken.voorRaad Left
                        </div>
                    }
                    else
                    {
                        <div class="voorRaadDivDetailsView" style="border: solid 2px red; color:red">
                            <strong>Sold out</strong>
                        </div>
                    }
                }
             </p>       
             <p> @Model.BoekModel.BoekDescription </p>
             <p>  
                 <div style="display: flex">
                    <form asp-action="add" asp-route-id="@Model.BoekModel.BoekId" method="post">
                        <button class="winkelMandButton">
                            @if(Model.Winkelwagen.InWinkelwagen == false)
                            {
                                <ion-icon name="bag-add-outline" class="IconDetails"></ion-icon>
                            }
                            else
                            {
                                <ion-icon name="bag-check" class="IconDetails" style="color: green"></ion-icon>
                            }
                        </button>
                    </form>
                    <form>
                        <button class="verlangLijstButton">
                            <ion-icon name="heart-outline" class="IconDetails"></ion-icon>
                        </button>
                    </form>
                </div>                         
             </p>
            <p> <a asp-action="Index" class="backButton">Back</a> </p>         
        </div>
    </div>
</div>
