@model BoekWinkel.Models.BoekModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BoekModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoekTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoekTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoekAuthor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoekAuthor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoekDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoekDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoekPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoekPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoekCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoekCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoekImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoekImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoekImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoekImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BoekId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
